$light-blue: #aad5fb;
$blue: #2998ff;
$dark-blue: #224b8d;
$yellow: #fec400;
$gray: rgb(245, 245, 245);
$black: rgb(51, 51, 51);

$taskEasy: #86e01e;
$taskMedium: #f2d31b;
$taskHard: #f2b01e;
$taskVeryHard: #f27011;
